body {
  background: linear-gradient(to right, #626fd7, #fdfdfdd6);
}

.principal{
    text-align: center;
    color: #f6f7fa;
    font-size: 40px;
    text-shadow: 2px 2px #000000
  }

  img {
  border: 3px solid #333;       
  border-radius: 10px;           
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);}
  
.texto {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #1c0e0e;
    line-height: 0.5;
    margin: 20px;
}

.galeria{
  display: flex;            
  justify-content: center; 
  gap: 40px;                
  flex-wrap: wrap;          
}
.titulo{ 
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #0c1418;
}

a, p.titulo {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px; 
}


.galeria, .img2, .galeria2 {
  display: inline-block;
  width: 300px;
  height: auto;
}


.poster{
    float: left;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
