body {
  background: linear-gradient(to right, #000000, #fdfdfdd6);
}

h1{
    text-align: center;
    color: #f6f7fa;
    font-size: 40px;
    text-shadow: 2px 2px #000000
  }

  img {
  border: 3px solid #333;        /* grosor, estilo y color del borde */
  border-radius: 10px;           /* esquinas redondeadas (opcional) */
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5); /* sombra: desplazamiento X, Y, difuminado, color */
}