body {
  background: linear-gradient(to right, #000000, #fdfdfdd6);
}

h1{
    text-align: center;
    color: #f6f7fa;
    font-size: 40px;
    text-shadow: 2px 2px #000000
  }

  img {
  border: 3px solid #333;       
  border-radius: 10px;           
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);}
  
.texto {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #ffffff;
    line-height: 0.5;
    margin: 20px;
  }

  .galeria {
  display: flex;            
  justify-content: center; 
  gap: 40px;                
  flex-wrap: wrap;          
}
.titulo {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #bab0b0;
}